<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877137530524-bcoiddj0v1gngvo10uiq0mpbips2cqrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877137530524-bcoiddj0v1gngvo10uiq0mpbips2cqrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDpeNhqbr6Kma2PWT73Xivl8wY52y-fBDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>877137530524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.primetheory.Nomad-App</string>
	<key>PROJECT_ID</key>
	<string>nomad-b51e7</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-b51e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877137530524:ios:a89c69be31e8d3b0722759</string>
	<key>DATABASE_URL</key>
	<string>https://nomad-b51e7.firebaseio.com</string>
</dict>
</plist>